  <% provide(:image, "post-bg.jpg") %>

  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <% @blogposts.each do |blogpost| %>
      <div class="post-preview">
        <a href="post.html">
          <h2 class="post-title">
            <%= link_to blogpost.title, blog_post_path(blogpost) %>
          </h2>
          <h3 class="post-subtitle">
            <%= blogpost.summary %>
          </h3>
        </a>
        <p class="post-meta">Posted by
          <%= blogpost.user.name %>
      </div>

      <% if logged_in? && current_user.id == blogpost.users_id || logged_in? && current_user.is_admin %>
        <div class="clearfix">
          <%= link_to 'Edit Post', edit_blog_post_path(blogpost) %>
        </div>

        <div class="clearfix">
          <%= link_to 'Delete Post', blogpost, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>

        <hr>
      <% end %>
      <% end %>

      <% if logged_in?%>
      <div class="clearfix">
        <%= link_to 'Create New Post', new_blog_post_path, :class => "btn btn-primary float-right" %>
      </div>
      <br>
      <% end %>
    </div>
  </div>
