<%= form_for(@user) do |f| %>
  <% @user.errors.full_messages.each do |error| %>
    <div class="alert alert-danger">
      <p> <%= error %></p>
    </div>
  <% end %>

  <div class="form-group">
  <p>
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </p>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>
  </p>
  </div>
  <span><%= f.submit 'SAVE', class: "btn btn-primary" %></span>
  <%= link_to "Back to Index User", users_path, class: "btn btn-primary" %>
<% end %>